// Define variables for your color scheme

// For example:
$red: #F8333C;
$blue: #2176FF;
$yellow: #FDCA40;
$orange: #E67E22;
$green: #48D1CC;
$gray: #080708;
$light-gray: #F4F4F4;
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

a p {
  color: $gray !important;
  text-decoration: none;
  &:hover {
    color: $red !important;
    transition: 0.3s ease !important;
    text-decoration: none !important;
  }
  h1:hover {
    color: #42444E !important;
  }
}
