// Define variables for your color scheme

// For example:
$red: #F8333C;
$blue: #2176FF;
$yellow: #FDCA40;
$orange: #E67E22;
$green: #48D1CC;
$gray: #080708;
$light-gray: #F4F4F4;
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
