
<h1>Mendio</h1>

<h3>Hi <%= @user.username.capitalize %>,</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ad nemo neque iste, dolorum sed id eum. Aperiam, quod nam pariatur delectus repellendus repudiandae? Culpa accusantium porro laudantium sit doloremque!</p>
