<ul>
  <% @notifications.each do |n| %>
    <li>
      <%if n.bookmark.nil? %>
        <strong> <%= n.follower.username %> </strong> followed you
      <% else %>
        <strong> <%= n.bookmark.user.username %> </strong> bookmarked your donation to <strong> <%= n.bookmark.donation.episode.name %> </strong>
      <% end %>
    </li>
  <% end %>
</ul>
