<div class="profile-container">
  <div class="profile">
    <div class="wrapper-profile">
      <%= render 'shared/profile', user: @user %>
    </div>
  </div>
</div>
<div class="feed">
  <ul class="list-inline dashboard-tab">
    <% @podcasts.each do |podcast| %>
      <li class="podcast-tab">
        <%= link_to podcast.name, podcast_path(podcast) %>
      </li>
    <% end %>
  </ul>
  <div class="podcast-dashboard">
    <%= render 'shared/podcast-dashboard' %>
  </div>
</div>
