<div class="container">
  <div class="feed user-feed">
    <div class="profile-wrapper">
      <%= render 'shared/profile', user: @user %>
    </div>
  </div>
  <div class="my-donations">
      <%= render 'shared/feed', feed: @user.donations %>
  </div>

  <ul class = "following hidden">
    <% @following.each do |user| %>
      <li>
        <%= user.username %>
      </li>
    <% end %>
  </ul>

  <ul class="followers hidden">
    <% @followers.each do |user| %>
      <li>
        <%= user.username %>
      </li>
    <% end %>
  </ul>
</div>
