<div class="notifications-wrapper">
  <div class="card notifications">
    <div class="card-image item">
      <%= link_to cl_image_tag(podcast.artwork), podcast_path(podcast) %>
    </div>
    <div class="card-info size"><%= link_to podcast.name, podcast_path(podcast) %>
    </div>
    <i class="fas fa-podcast icon-search"></i>
  </div>
</div>
