document.querySelector(".episode-results").innerHTML = "";

'<% @results.each do |result| %>'
document.querySelector('.episode-results').insertAdjacentHTML('beforeend', "<li class='podcast'><%= result.name %></li>")
'<% end %>'

function clicker() {
  document.querySelector('.episode-results').addEventListener('click', (event) => {
    episodeInput.value = event.target.innerText;
    document.querySelector(".episode-results").innerHTML = "";
    document.querySelector('#episode').value = event.target.innerText;
    const element = document.querySelector('.hidden-form form')
    Rails.fire(element, 'submit');
  })
}

clicker()

