const episodeResults = document.querySelector('.episode-results')

'<% @results.each do |result| %>'
episodeResults.insertAdjacentHTML('beforeend', "<li class='podcast'><%= result.name %></li>")
'<% end %>'

function clicker(results) {
  document.querySelector('.episode-results').addEventListener('click', (event) => {
    episodeInput.value = event.target.innerText;
    document.querySelector(".episode-results").innerHTML = "";
    document.querySelector('#hidden-episode').value = event.target.innerText;
    const element = document.querySelector('.episode-section form')
    Rails.fire(element, 'submit');
  })
}

clicker(episodeResults)

