
if (document.querySelector('.check')) {
  document.querySelector('.episode-results').innerHTML = '';
  '<% @results.each do |result| %>'
  document.querySelector('.episode-results').insertAdjacentHTML('beforeend', "<li><%= result.name %></li>")
  '<% end %>'
  clicker();
} else {
  document.querySelector(".ep-results").innerHTML = "";
  document.querySelector('.ep-results').insertAdjacentHTML('beforeend', `<li><%= render 'shared/episode_feed', user: current_user, feed: @results %> </li>`);
}

function clicker() {
  document.querySelector('.episode-results').addEventListener('click', (event) => {
    document.querySelector('.episode-search').value = event.target.innerText;
    document.querySelector(".episode-results").innerHTML = "";
    document.querySelector('#episode').value = event.target.innerText;
    const element = document.querySelector('.hidden-form form')
    Rails.fire(element, 'submit');
  })
}