<div class="container">
  <div class="feed">
    <h4><p>DONATIONS TO THIS EPISODE</p></h4>
    <p><%= strip_tags(@episode.description) %></p>
    <%= render 'shared/feed', user: current_user, feed: @donations %>
  </div>
</div>
