.btn-red {
  color: #E93941 !important;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #E93941;
  font-family: "Raleway" !important;
  font-size: 12px !important;
  letter-spacing: 2px !important;
  &:hover {
    color: white !important;
    background-color: #E93941;
    border-color: #D22B34;
    transition: ease 0.3s;
    transform: scale(1.01);
  }
}

.btn-sign-up {
  color: #E93941;
  background-color: white;
  border-color: #E93941;
  font-family: "Raleway";
  font-size: 14px;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
  &:hover {
    color: white;
    background-color: #E93941;
    border-color: #D22B34;
    transition: ease 0.3s;
    transform: scale(1.01);
  }
}
