.card {
  padding: 10px 20px;
  box-shadow: $shadow, $shadow;
  background-color: white;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,0.03);
  &:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.77);
    transition: all 0.4s;
  }
}

.yellow {
  color: $yellow;
}

.small-episode-name {
  font-size: 16px !important;
}
.podcast-name {
  font-weight: normal;
  font-size: 12px;
  padding-top: 10px;
  width: 100px;
  text-align: center;
  margin-bottom: 0px;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-row .profile-pic {
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 10px;
}

.top-row h2 {
  font-size: 20px;
  padding-left: 100px;
  padding-right: 10px;
  padding-top: 10px;
  font-weight: normal;
  a {
    color: $gray;
    &:hover {
      color: #D9D9DB;
      transition: 0.4s ease;
      text-decoration: none;
    }
  }
}

.username {
  position: absolute;
  font-size: 15px;
  top: 18px;
  left: 118px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.artwork {
  flex: 1 0 auto;
}

.favo-icons {
  position: absolute;
  padding-left: 100px;
  .fa-play {
    font-size: 16px;
  }
  a {
  text-decoration: none;
  color: #D9D8E8;
  margin-right: 15px;
    &:hover {
      color: #ECECED;
      transition: ease 0.4s;
    }
  }
}

.favo-icons-right {
  position: absolute;
  right: 0;
  bottom: 20px;
  .fa-play {
    font-size: 16px;
  }
  a {
  text-decoration: none;
  color: #D9D8E8;
  margin-right: 15px;
    &:hover {
      color: #ECECED;
      transition: ease 0.4s;
    }
  }
}

.bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-row h3 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 60px;
  margin-left: 10px;
  font-family: 'Press Start 2P';
  font-size: 16px;
  color: $green;
}

.bottom-row h2 {
  font-size: 15px;
}

.grow {
  flex: 1 0 auto;
}

.b-item {
  margin-right: 30px;
}
