.login-wrapper {
  height: 100vh;
  bottom: 0;
}

.login {
  border-radius: 4px;
  margin-top: 20px;
  padding: 10px 20px;
  color: #000;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
}

.login-input {
}

.login-back {
  border-radius: 4px;
  background-color: #B5B1B2;
  list-style-type: none;
  padding: 6px 12px;
  color: #fff;
  margin-left: 5px;
}

.cancel-button {
  background-color: #D64550;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
}

.login-button {
  background-color: #56D1CA;
  border-radius: 4px;
  background-color: #48D1CC;
  font-weight: bold;
  color: #fff;
}

.login-image {
  margin: 100px;
  height: 256px;
  width: 256px;
  display:block;
}

.login-links ul {
  list-style-type: none;
  padding-left: 0px;
  li {
    padding-top: 15px;
    margin-left: 0px;
  }
  a {
    color: gray;
    text-decoration: none;
  }
  a:hover {
    color: red;
  }
}

.update-cancel h3 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 35px;
}

.update-cancel p {
  font-size: 18px;
}












