.our-modal {
  position: relative;
  top: 20%;
  h4 {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: lighter;
  }
}

.modal-header {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

