.our-modal {
  position: relative;
  top: 20%;
  h4 {
    font-size: 16px;
    font-weight: lighter;
  }
}

.modal-header {
  border-bottom: none;
  background-color: $light-gray;
  border-left: 6px solid $green;
}

.modal-body {
  background-color: $light-gray;
  border-left: 6px solid $green;
}

#donation_amount {
  border-radius: 3px;
  border: 0;
  padding-left: 10px;
  width: 100%;
}

#query {
  border-radius: 3px;
  border: 0;
  padding-left: 10px;
  width: 90%;
}

.search {
  width: 100% !important;
}
