/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .bar-search {
  margin-left: 30px;
  }
  .navbar-wagon {
    padding-left: 20px;
  }
}

@media (max-width: 445px) {
  .bar-search {
  margin-top: 25px;
  }
}

.bar-search {
  background-color: $light-gray;
  width: 200px !important;
  font-size: 16px;
  padding: 3px;
}

body {
  padding-top: 70px;
}
/* Logo */
.navbar-wagon-brand img {
  padding-left: 10px;
  height: 50px;
}

.navbar-wagon-brand-desktop {
  text-align: center;
  position: absolute;
  top: 15px;
  left: 50%;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Right section */
.navbar-wagon-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: $gray;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: $light-gray;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  border-right: 2px solid $green;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}
