.notifications-wrapper {
  height: 100%;
  h2 {
    text-align: center;
    padding: 50px;
  }
}

.item {
  height: 50px;
  width: 50px;
  img {
    height: 50px;
    width: 50px;
  }
}

.item-avatar {
  height: 50px;
  width: 50px;
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.notifications {
  display: flex;
  &:first-child {
    margin-top: 30px;
  }
}

.size {
  width: 100%;
  margin-left: 50px;
  padding: 10px;
  a {
    text-decoration: none;
    color: #645853;
  }
}

.size a:hover {
  color: #0F1108;
}

.height {
  height: 100%;
}

.timestamp {
  font-size: 12px;
  width: 140px;
  color: #645853;
}
