@media (min-width: 1405px) {
  .feed-container {
    display: flex;
    justify-content: center;
    // flex-direction: column;
  }
  .profile-wrapper {
    max-width: 1140px;
    width: 100%;
    .social-icons {
      padding-left: 150px;
      padding-right: 150px;
    }
  }
  .wrapper-profile {
    border-radius: 3px;
    width: 320px;
    height: 400px;
  }
  .profile {
    display: flex;
    position: fixed;
    margin-top: 30px;
    left: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-size: 100%;
  }
}

@media (max-width: 1405px) {
  .feed-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  .wrapper-profile {
    width: 100%;
    border-left: none;
    border-right: none;
  }
  .profile-wrapper {
    max-width: 720px;
    width: 100%;
  }
  .profile {
    margin-left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 100%;
  }
}

// ------------------------------------------------

$blue1-gradient: linear-gradient(to bottom right, $orange, #D22B34);
$blue2-gradient: linear-gradient(to bottom right, #D22B34, $yellow);
$another-gradient: linear-gradient(to bottom right, #E93941, $orange);
$h1-gradient: linear-gradient(to bottom right, #E93941, #D22B34);
$h2-gradient: linear-gradient(to bottom right, $red, $orange);
$h3-gradient: linear-gradient(to bottom left, #E93941, $red);
$h4-gradient: linear-gradient(to bottom right, #D22B34, $orange);

// ------------------------------------------------
.profile-wrapper {
  width: 100%;
  height: 400px;
  padding: 20px;
  border-radius: 2px;
  background: white;
  box-shadow: $shadow;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('sound-wave.svg');
  background-size: cover;
  background-position: center center;
    &:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.77);
    transition: all 0.4s;
  }
}

.prof-margin {
  margin-bottom: 10px;
}

.wrapper-profile {
  background: white;
  max-width: 725px;
  padding: 20px;
  box-shadow: $shadow;
    &:hover {
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.77);
    transition: all 0.4s;
  }
}
.profile-avatar {
  img {
    width: 100px;
    height: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    &:hover {
      transform: scale(1.03);
      transition: ease 0.6s ease;
    }
  }
}

#username-profile {
  margin-top: 5px;
  margin-bottom: 25px;
}

.profile-header {
  text-align: center;
  margin-top: 10px;
}

.social-icons {
  display: flex;
  margin-top: 1.2em;
  justify-content: space-between;

  .icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    h4, p {
      color: $gray;
      margin-bottom: 0;
    }
    p {
      font-size: 12px;
      letter-spacing: 0.5px;
    }
    .tab {
      color: #fff;
      width: 30px;
      height: 30px;
      font-size: 12px;
      line-height: 30px;
      text-align: center;
      border-radius: 30px;
    }
    &:nth-of-type(1) {
      padding-left: 20px;
      .tab {
        background: $h1-gradient;
        &:hover {
          cursor: pointer;
          background: $blue1-gradient;
          transition: ease 0.4s ease;
        }
      }
    }
    &:nth-of-type(2) {
      .tab {
        background: $blue2-gradient;
        &:hover {
          cursor: pointer;
          background: $h2-gradient;
          transition: ease 0.4s ease;
        }
      }
    }
    &:nth-of-type(3) {
      .tab {
        background: $another-gradient;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        &:hover {
          cursor: pointer;
          background: $h3-gradient;
          transition: ease 0.4s ease;
        }
      }
    }
    &:nth-of-type(4) {
      .tab {
        background: $blue2-gradient;
        &:hover {
          cursor: pointer;
          background: $h4-gradient;
          transition: ease 0.4s ease;
        }
      }
    }
    &:last-child {
      padding-right: 20px;
    }
  }
}
