.results {
  width: 100%;
  margin-top: 0px;
  list-style-type: none;
  padding-left: 0px;
  display: inline-block;
}

.podcast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5px;
  background-color: white;
  img {
    height: 40px;
  }
  li {
    font-weight: lighter;
  }
}

.podcast:hover {
  background-color: #F3F3F3;
  transition: ease 0.4s;
}

.search {
  width: 300px;
}

.search-input {
  width: 300px;
}

::placeholder {
  color: $gray;
  opacity: 0.3;
}

.hidden {
  display: hidden;
}
