<%= form_tag podcasts_path, method: :post, id: 'podcast-builder' do %>
  <%= text_field_tag :rss,
  params[:rss],
  autocomplete: :off,
  class: "",
  placeholder: "Input a Valid RSS Feed Url" %>
<% end %>

<% if @error %>
  <div class="error">
    <%= @error %>
  </div>
<% end %>
